In [ ]:
name = input("Enter your name :")

In [ ]:
name

In [ ]:
from getpass import getpass

pw = getpass('Enter your password :')

In [ ]:
pw

In [2]:
number = int(input("구구단 숫자 ? "))

for i in range(1, 10):
    print('{} * {} = {}'.format(number, i, number * i))

구구단 숫자 ? 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

## EP01

In [3]:
import pandas as pd

url = "https://finance.naver.com/marketindex/exchangeList.nhn"

df = pd.read_html(url)[0]
df.columns = [
    '통화명', '매매기준율', '현찰 - 사실 때', '현찰 - 파실 때',
    '송금 - 보내실 때', '송금 - 받으실 때', '미화환산율',
]
df = df.set_index('통화명')

print(df.shape)
df.head()

(44, 6)

                 매매기준율  현찰 - 사실 때  현찰 - 파실 때  송금 - 보내실 때  송금 - 받으실 때  미화환산율
통화명
미국 USD         1133.80    1153.64    1113.96     1144.90     1122.70  1.000
유럽연합 EUR       1280.00    1305.47    1254.53     1292.80     1267.20  1.129
일본 JPY (100엔)   995.13    1012.54     977.72     1004.88      985.38  0.878
중국 CNY          163.20     171.36     155.04      164.83      161.57  0.144
홍콩 HKD          144.77     147.62     141.92      146.21      143.33  0.128

In [4]:
df.to_excel('환율-날짜지정.xlsx')  # 엑셀로 저장